.products-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}
  
.product-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
  
  