.container{
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.circle{
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-radius: 50%;
    background-color: rgb(171, 109, 230);
}
.container circle:nth-child(2){
    background-color: red;
}