.parent{
    height: 300px;
    width: 300px;
    border: 2px solid;
    position: relative;
    background-color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.child{
    height: 300px;
    width: 300px;
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: green;
    /* z-index: -1; */
}
.myicon *{
    width: 48px;
    height: 48px;
}

.fixed-area{
    width: 200px;
    height: 100px;
    overflow-x: scroll;
}